@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Force light mode for now to ensure consistency with current design */
body {
  background: #f3f4f6; /* gray-100 */
  color: #111827; /* gray-900 */
}
